<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>movieRental</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>


</head>
<body>
<section id="titleBlock">

    <!-- Nav Bar -->

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark" id="navigation">
            <a href="" class="navbar-brand" id="logo">movieRental</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a th:href="@{'/users'}" class="nav-link">Users</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Movies
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'/movies'}">All</a>
                            <a class="dropdown-item" th:href="@{'/movies/documentary'}">Documentary</a>
                            <a class="dropdown-item" th:href="@{'/movies/horror'}">Horror</a>
                            <a class="dropdown-item" th:href="@{'/movies/scifi'}">SciFi</a>
                            <a class="dropdown-item" th:href="@{'/movies/fantasy'}">Fantasy</a>
                            <a class="dropdown-item" th:href="@{'/movies/cartoon'}">Cartoon</a>
                            <a class="dropdown-item" th:href="@{'/movies/action'}">Action</a>
                            <a class="dropdown-item" th:href="@{'/movies/comedy'}">Comedy</a>
                            <a class="dropdown-item" th:href="@{'/movies/drama'}">Drama</a>
                            <a class="dropdown-item" th:href="@{'/movies/western'}">Western</a>
                            <a class="dropdown-item" th:href="@{'/movies/adventure'}">Adventure</a>
                            <div class="dropdown-divider"></div>

                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="dropdown-item" th:href="@{'/add-movie'}">Add movie</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Basket</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Title -->

    <div class="row">


        <div class="col-lg-6">
            <h1 class="big-heading">Get your favorite movies right now!</h1>


                Current user: <div th:text="${currentUser}"></div>


            <div id="center-small">

                <a href="">

                    <button type="button" class="btn btn-dark btn-lg download-buttons"><i class="fab fa-apple"></i>
                        Download App
                    </button>

                </a>

                <a href="">

                    <button type="button" class="btn btn-outline-light btn-lg download-buttons"><i
                            class="fab fa-google-play"></i>
                        Download App
                    </button>

                </a>


            </div>
        </div>

        <div class="col-lg-6" id="centerImage">


            <img src="images/camera2.png" alt="camera" class="mainImage">


        </div>

    </div>


</section>

<footer id="footer">
    <a href="#" class="space">
        <i class="fab fa-facebook-square fa-2x"></i>
    </a>
    <a href="#" class="space">
        <i class="fab fa-twitter-square fa-2x "></i>
    </a>
    <a href="#" class="space">
        <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="#" class="space">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>

    <p>© Copyright 2020 movieRental</p>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ed613b4fb4.js" crossorigin="anonymous"></script>
</body>
</html>